/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* FUNDO */
body {
  background: radial-gradient(circle at top, #02263b, #000);
  color: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* CONTAINER CENTRAL */
.login-wrap {
  width: 100%;
  max-width: 480px;
  padding: 20px;
}

.login-card {
  background: rgba(0, 0, 0, 0.35);
  padding: 60px 40px;
  border-radius: 26px;
  backdrop-filter: blur(18px);

  box-shadow:
    0 0 40px rgba(0, 255, 255, 0.25),
    inset 0 0 40px rgba(0, 180, 255, 0.15);
}

/* TÍTULO */
.brand {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
  color: #00e9ff;
}

/* LABELS */
label {
  font-size: 18px;
  display: block;
  margin-bottom: 8px;
  margin-top: 20px;
}

/* CAMPOS */
input {
  width: 100%;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.08);
  color: white;
  font-size: 16px;
}

/* BOTÃO */
.btn {
  margin-top: 35px;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 16px;
  cursor: pointer;

  background: linear-gradient(90deg, #00f1ff, #008cff);
  color: #000;
}

.btn:hover {
  transform: scale(1.02);
  transition: 0.2s;
}
